<div class="results">
  <div class="row">
    <% @bikes.each do |bike| %>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <!-- insert <div class="card"> -->
        <div class="card-search">
          <div class="card-photo" style="background-image: url(<%= image_path(bike.photo)%>); width: 100%">
          </div>
          <div class="card-description">
            <p><%= bike.spec.upcase%> . <%= bike.city%></p>
            <h1><%= bike.description%> <p class="brand"><%= link_to bike.brand, bike_path(bike)%></p></h1>
            <p><%=bike.price %> € per day</p>
          </div>
          <img class="card-user" src="<%= image_path(bike.user.photo)%>">
          <div class="card-stars">
            <% stars = rand(1..5)%>
            <% stars.times do %>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <% end %>
            <% (5 - stars).times do %>
            <i class="fa fa-star" style="color: #cacccd"></i>
            <% end %>
          </div>
          <%= link_to "", bike_path(bike), :class => "card-link" %>
        </div>
      </div>
      <%end %>
    </div>
  </div>



