<div class="col-xs-12">
      <%= simple_form_for @bike do |f| %>
      <div class='form-inputs'>
        <div class= "form-bike">
          <div class="col-md-6">
            <%= f.input :brand %>
            <%= f.input :spec %>
            <%= f.input :description %>
            <%= f.input :price %>
          </div>
          <div class="col-md-6">
            <%= f.input :city %>
            <%= f.input :address%>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <div class= "form-actions">
              <%= f.button :submit , class: "btn-form" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
